/*
  Desde Google Fonts, importe las fuentes Poppins. Específicamente el Thin 100, Extra-light 200 y Regular 400. 
*/
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600&family=Poppins:wght@100;200;400&display=swap');


/*
  Utilice el selector para la etiqueta body
  
  Familia de fuentes: 'Poppins', sans-serif
*/
body{
  font-family: 'Poppins', sans-serif;
}


/*
  Utilice el selector para la clase "inner-product"

  Radio del borde: 5px
  Relleno: 30px
  Color de fondo: white
*/
.inner-product{
  border-radius: 5px;
  border-width: 30px;
  background-color: white;
}

/*
  Utilice el selector para el identificador "list"

  Muestre los elementos mediante grid
  Utilice una plantilla de 4 columnas
  Los elementos se auto justifican en el centro de la rejilla
*/
#list{
  display: grid;
  grid-template-columns: auto auto auto auto;
}


/*
  Al pasar el mouse por encima de la siguiente estructura

  <element class="product-list">
  …
    <element class="product">
      …
        <element class="product-title">
          …
            <a :hover>

  Color #45b77d
*/
.product-list .product .product-title a:hover {
  color: #45b77d;
}


/*
  Utlice un selector avanzado para un small, 
  cuyo atributo class contiene "ric"

  Margen hacia arriba 0.5rem.
*/

small[class*="ric"]{
  margin-top: 0.5rem;
}